.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

body{
  background-color: rgb(255, 238, 192);
}
.lf{
  display: flex;
  justify-content: space-between; 
}
